@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");

.footer {
  background: linear-gradient(to right, #2e056e, #0b0415);
  color: white;
  width: 100%;
  bottom: 0;
  left: 0;
  font-family: "Poppins", sans-serif !important;
}

.footer-logo-bg {
  border-radius: 9999px;
  border: 1px solid rgba(255, 255, 255, 0.1);
  background: #1c1c1c;
}

.rounded-blur {
  filter: blur(140px) !important;
}
