@media (min-width: 750px) and (max-width: 1150px) {
  .profile-container {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}
@media (min-width: 600px) and (max-width: 1200px) {
  .bttn {
    font-size: 9px !important;
    padding: 5px 8px !important;
  }
}

.box-shadow-field {
  box-shadow: rgb(204, 219, 232) 3px 3px 6px 0px inset,
    rgba(255, 255, 255, 0.5) -3px -3px 6px 1px inset;
}
.box-shadow-field2 {
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}
